<!DOCTYPE html>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--meta name="viewport"
  content="width=device-width,initial-scale=2.0, minimum-scale=2.0, maximum-scale=2.0, user-scalable=no" /-->

<html>

<head>
  <meta charset="utf-8" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="yes" name="apple-touch-fullscreen" />
  <meta content="telephone=no,email=no" name="format-detection" />
  <meta content="maximum-dpr=1" name="flexible" />
  <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.2/??flexible_css.js,flexible.js"></script>
  <title>实时截图查看</title>
  <!--link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script-->

  <link rel="stylesheet" href="www/element.css">
  <script src="www/vue.js"></script>
  <script src="www/axios.min.js"></script>
  <script src="www/element.js"></script>
</head>

<body>
  <div id="app" style="text-align: center; margin-top: 30px;">
    <h1>实时截图查看</h1>

    <!-- 单选框选择当前是1号还是2号 -->
    <el-radio-group v-model="currentSelection" style="margin-bottom: 20px;">
      <el-radio label="0">1号</el-radio>
      <el-radio label="1">2号</el-radio>
    </el-radio-group>

    <!-- 使用 Element-UI 的 el-button 作为刷新按钮 -->
    <el-button type="primary" @click="refreshScreenshot" style="margin-bottom: 20px;">刷新截图</el-button>
    <el-switch v-model="isMiTuOn" active-text="开mitu" inactive-text="关mitu"
      @change="handleSwitchMituChange"></el-switch>

    <el-button type="primary" @click="dragMenu" style="margin-bottom: 20px;">滑动菜单</el-button>
    <el-button type="primary" @click="dragPag" style="margin-bottom: 20px;">滑动背包</el-button>
    

    <img :src="screenshotUrl" @click="handleImageClick" style="cursor: pointer;transform:scale(0.7); transform-origin: top left;" />
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        screenshotUrl: '/screenshot?selection=0',
        currentSelection: '0', // 默认选择1号
        isMiTuOn: false, // 开关状态
      },
      methods: {
        dragPag() {
          axios.post('/dragpag', { selection: this.currentSelection })
          .then(response => {
              setTimeout(() => {
                this.refreshScreenshot();
              }, 100)
            })
        },
        dragMenu() {
          axios.post('/dragmenu', { selection: this.currentSelection })
          .then(response => {
              setTimeout(() => {
                this.refreshScreenshot();
              }, 100)
            })
        },
        refreshScreenshot() {
          // 发送请求时带上选择的参数
          this.screenshotUrl = `/screenshot?selection=${this.currentSelection}&_=${new Date().getTime()}`;
        },
        handleImageClick(event) {
          const x = event.offsetX;
          const y = event.offsetY;

          // 发送点击事件和当前选择的值
          axios.post('/leftclick', { x: x, y: y, selection: this.currentSelection })
            .then(response => {
              console.log('点击事件已发送', response.data);
              setTimeout(() => {
                this.refreshScreenshot();
              }, 1000)
            })
            .catch(error => {
              console.error('发送点击事件失败', error);
            });
        },
        handleSwitchMituChange() {
          this.flashAndSetMitu(true)
        },
        flashAndSetMitu(bSet) {
          // 设置mitu
          axios.post('/mitu', { isOn: this.isMiTuOn, bSet: bSet })
            .then(response => {
              console.log('点击事件已发送', response.data);
              aaa = this.isMiTuOn
              this.isMiTuOn = response.data.isOn;
            })
            .catch(error => {
              console.error('发送点击事件失败', error);
            });
        }
      },
      mounted() {
        // 页面加载时获取布尔状态
        this.flashAndSetMitu(false);
      },
    });
  </script>
</body>

</html>